### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [1]:
import sqlite3

In [2]:
connection=sqlite3.connect('test-db')
connection

In [3]:
cursor=connection.cursor()

In [4]:
cursor.execute('''
               Create Table If Not Exists employees(
                   Id Integer Primary Key,
                   name Text Not null,
                   age Integer,
                   department Text
               )
               ''')

connection.commit()

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

In [5]:
def InsertEmloyee(emloye_data):
    cursor.executemany('''
                       Insert Into employees ('name','age','department')
                       values(?,?,?)
                       ''',emloye_data)
    connection.commit()

In [6]:
employee_data=[
    ('adolf',45,'physics'),
    ('neuton',75,'bangla'),
    ('thomas',45,'english'),
    ('jery',23,'english'),
    ('mark',49,'math')
]
InsertEmloyee(employee_data)

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

In [15]:
def DisplayEmployee():
    cursor.execute('''
                     Select * from employees
                   ''')
    rows=cursor.fetchall()
    for row in rows:
        print(row)

DisplayEmployee()

(1, 'adolf', 45, 'physics')
(2, 'neuton', 75, 'bangla')
(3, 'thomas', 45, 'english')
(4, 'jery', 23, 'english')
(5, 'mark', 49, 'math')

In [20]:
def DeptEmployee(dept):
    cursor.execute('''
                   Select * From employees where department=?''', (dept,))
    
    rows=cursor.fetchall()
    for row in rows:
        print(row)

DeptEmployee('english')

(3, 'thomas', 45, 'english')
(4, 'jery', 23, 'english')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

In [39]:
def updateDep(id):
    cursor.execute('''
                    Update employees
                    set department='Mathematics' 
                    where id=?
                   ''',(id,))
    connection.commit()

In [41]:
id=2
updateDep(id)

In [42]:
cursor.execute('''
                Select * from employees
               ''')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'adolf', 45, 'physics')
(2, 'neuton', 75, 'Mathematics')
(3, 'thomas', 45, 'english')
(4, 'jery', 23, 'english')
(5, 'mark', 49, 'Mathematics')